/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/***********************   FONTS  *****************/

/*******************************************************/
body {
  font-family: Poppins;
  background-color: #0d0d11;
  color: #ffffff;
}

.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.main {
  flex: 1 1 auto;
}

[class*="__container"] {
  max-width: 1310px;
  margin: 0 auto;
  padding: 0 15px;
}

/***************************************HEADER *****************************/

.header {
  height: 116px;
}
.header__container {
  padding-top: 46px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  position: relative;
  z-index: 5;
  width: 147px;
  height: 40px;
}
.header__body {
  align-items: center;
  display: flex;
}
.header__menu {
  display: flex;
  align-items: center;
  gap: 7px;
}
.menu-header {
}
.menu-header__list {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 auto;
}
.menu-header__item {
  display: flex;
  align-items: center;
}
.menu-header__item:not(:last-child) {
  margin-right: 38px;
}

.menu-header__link {
  font-weight: 300;
  font-size: 17.6px;
  line-height: 28px;

  letter-spacing: 0.96px;

  color: #ffffff;
}
.menu-header__link:hover {
  text-decoration: underline;
}
.menu-header__counter {
}
.counter {
  display: flex;
  align-items: center;
  padding-right: 32px;
  position: relative;
  z-index: 5;
}
.counter__text {
  padding-right: 6px;
  padding-left: 22px;
  font-weight: 300;
  font-size: 17.6px;
  line-height: 28px;
  /* or 160% */

  display: flex;
  align-items: center;
  letter-spacing: 0.96px;

  color: #ffffff;
}
.counter__value {
  width: 30px;
  height: 30px;
  background-color: rgba(129, 129, 139, 0.3);
  border-radius: 29.9375px;
  text-align: center;
  padding: 9px;
  color: #ffffff;
}
.header__button {
  padding: 17px 28px;
  border-radius: 50px;
  width: 160px;
  height: 52px;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 2px;

  color: #ffffff;
  margin-right: 10px;
  position: relative;
  z-index: 5;
}

.blue-button {
  flex: 0 0 160px;
  background-color: #3d96f4;
  padding: 17px 24.5px;
  border-radius: 50px;
  max-width: 160px;
  max-height: 52px;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 2px;

  color: #ffffff;
  transition: 0.3s;
}
.blue-button:hover {
  background-color: #3d95f4a5;
}

.brown-button {
  padding: 17px 31px;
  border-radius: 50px;
  width: 160px;
  height: 52px;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 2px;

  background: rgba(129, 129, 139, 0.2);
  color: #ffffff;
  transition: 0.3s;
}
.brown-button:hover {
  background: rgba(81, 81, 88, 0.729);
}

.icon-menu {
  display: none;
}
@media (max-width: 767.98px) {
  .header__body {
  }
  .icon-menu {
    display: block;
    flex: 0 0 30px;

    height: 18px;
    position: relative;
    z-index: 5;
    cursor: pointer;
    margin-right: 25px;
  }

  .icon-menu::after,
  .icon-menu:before,
  .icon-menu span {
    content: "";
    right: -35;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
  }
  .icon-menu:before {
    top: 0;
    transition: all 0.3s ease;
  }
  .icon-menu:after {
    bottom: 0;
    transition: all 0.3s ease;
  }
  .icon-menu span {
    top: 49.5%;
  }
  .menu-open .icon-menu span {
    width: 0;
  }
  .menu-open .icon-menu::after {
    transform: rotate(50deg);
    bottom: 8px;
  }
  .menu-open .icon-menu::before {
    transform: rotate(-50deg);
    top: 8px;
  }
  .icon-menu.active span {
    display: none;
  }
  .menu-header__body {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #0d0d11;
    left: -100%;
    top: 0;
    padding: 100px 15px 30px 15px;
    z-index: 3;
    overflow: auto;
    transition: left 0.3s ease 0s;
  }
  .menu-header__body::before {
    content: "";

    position: fixed;
    width: 100%;
    height: 72px;
    background-color: #0d0d11;
    left: -100%;
    top: 0;
    padding: 100px 15px 30px 15px;
    z-index: 3;
    transition: left 0.3s ease 0s;
  }
  .menu-header__list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
  }
  .menu-header__item:not(:last-child) {
    margin-right: 0px;
    margin-bottom: 15px;
  }

  .menu-header__link {
    font-size: 32px;
  }
}

@media (max-width: 560px) {
  .header__logo {
    width: 32px;
    flex: 0 0 32px;
    overflow: hidden;
  }
}
.menu-open .menu-header__body,
.menu-open .menu-header__body::before {
  left: 0;
}
/********************************* SECTION#1 **************/
.solutions {
}
.solutions__container {
  display: flex;

  margin-top: 44px;
}
.solutions__left-part {
}
.left-part {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  flex: 1 1 50%;
}
.left-part__body {
  display: flex;
  flex-direction: column;
}

.left-part__title {
  font-weight: 500;
  font-size: 51.2px;
  line-height: 61px;
  /* or 120% */

  color: #ffffff;
  margin-bottom: 34px;
  max-width: 510px;
}

.left-part__text {
  font-weight: 300;
  font-size: 18px;
  line-height: 27px;
  /* or 150% */

  color: #9c9c9c;
  margin-bottom: 50px;
  max-width: 500px;
}
.left-part__buttons {
}
.left-part__button:not(:last-child) {
  margin-right: 32px;
}
.left-part__background-image {
  display: block;
  position: relative;
  top: 97px;
  left: -30px;
  width: 122px;
  height: 122px;
}
.solutions__right-part {
  flex: 1 1 50%;
}
.right-part {
  padding-left: 94px;
}
.right-part__content {
  display: flex;
}
.right-part__image {
  margin-bottom: 32px;
  margin-right: 59px;
}
.elipse-1 {
  padding-right: 59px;
}
.right-part-services__column-1 {
  display: flex;
  flex-direction: column;
  flex: 0 1 50%;
}
.right-part-services__column-2 {
  display: flex;
  flex-direction: column;
  flex: 0 0 50%;
}

.elipse {
  max-width: 423.36px;
  max-width: 242px;
  border-bottom-left-radius: 124px;
  border-bottom-right-radius: 124px;
  border-top-right-radius: 124px;
  border-top-left-radius: 124px;
  overflow: hidden;
  z-index: 1;
}
.elipse img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
.elipse_2 {
}
.drop {
  max-width: 242px;
  max-height: 242px;

  overflow: hidden;
}
.drop_1 {
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;

  border-top-left-radius: 50%;
}
.drop_2 {
  border-bottom-left-radius: 50%;

  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}
.drop img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
@media (max-width: 1300px) {
  .right-part {
    padding-left: 54px;
  }
}
@media (max-width: 1199px) {
  .right-part {
    padding-left: 34px;
  }
  .right-part__image {
    margin-bottom: 22px;
    margin-right: 39px;
  }
  .left-part__title {
    font-size: 45px;
  }
  .left-part__text {
    font-size: 14px;
  }
}
@media (max-width: 899px) {
  .solutions__container {
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: center;
  }
  .right-part {
    flex: 0 0 auto;
  }
  .left-part {
    justify-content: center;
    align-items: center;
  }
  .left-part__background-image {
    left: -240px;
    top: 100px;
  }

  .header__logo {
    margin-right: 100px;
  }
  .left-part__title {
    font-size: 40px;
    margin-bottom: 20px;
  }
}
@media (max-width: 599px) {
  .right-part {
    flex: 1 1 auto;
  }
  .left-part {
    flex: 1 1 auto;
  }
  .right-part {
    padding-left: 10px;
  }
  .right-part__image {
    margin-bottom: 22px;
    margin-right: 10px;
  }
  .header__logo {
    margin-right: 0px;
  }
  .menu-header__counter {
    padding-right: 5px;
  }
  .counter__text {
    padding-left: 5px;
  }
  .left-part__background-image {
    display: none;
  }
  .left-part__buttons {
    display: flex;
    flex-direction: column;
  }
  .left-part__button {
    margin-bottom: 5px;
  }
  .left-part__text {
    margin-bottom: 15px;
  }
  .left-part__title {
    font-size: 40px;
    margin-bottom: 20px;
  }
}

/********************************SECTION#2***********************************/

.trusted {
}
.trusted__container {
  margin-top: 192px;
  margin-bottom: 146px;
  display: flex;
  flex-direction: column;
}
.trusted__title {
  text-align: center;
  margin-bottom: 24px;
}
.trusted__icons {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}
.trusted__icon {
  width: 100%;
  height: 100%;
  max-width: 211px;
}
.trusted__icon:nth-child(1),
.trusted__icon:nth-child(5) {
  position: relative;
}
.trusted__gradient-1 {
  position: absolute;
  width: 115px;
  height: 64px;
  top: 0;
  left: 0;
  background: linear-gradient(90deg, #0d0d11 8%, rgba(0, 0, 0, 0) 100%);
}

.trusted__gradient-2 {
  position: absolute;
  width: 115px;
  height: 64px;
  top: 0;
  right: 0;
  background: linear-gradient(270deg, #0d0d11 8%, rgba(0, 0, 0, 0) 100%);
}
@media (max-width: 899px) {
  .trusted__container {
    margin-top: 80px;
    margin-bottom: 20px;
  }
}
/**************************************** SECTION #3 ***********************************/

.services {
}
.services__container {
  display: flex;
  margin-top: 160px;
  margin-bottom: 192px;
}
.services__left-part {
  display: flex;
  flex: 0 0 50%;
  height: 100%;
  width: 100%;
  padding-right: 52px;
}
.left-part-services {
}
.left-part-services__body {
  padding-top: 223.59px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.left-part-services__subtitle {
  font-weight: 300;
  font-size: 10.8px;
  line-height: 160%;

  display: flex;
  align-items: center;
  letter-spacing: 2px;
  text-transform: uppercase;

  color: #9c9c9c;
  border: 1px solid rgba(129, 129, 139, 0.2);
  border-radius: 12px;
  width: 101.5px;
  height: 37px;
  padding: 11px 18px 11px 20px;
  margin-bottom: 30px;
}
.left-part-services__title {
  font-weight: 500;
  font-size: 51.2px;
  line-height: 120%;

  display: flex;
  align-items: center;

  color: #ffffff;
  margin-bottom: 14px;
}
.left-part-services__text {
  font-weight: 300;
  font-size: 18px;
  line-height: 150%;

  display: flex;
  align-items: center;

  color: #9c9c9c;
  margin-bottom: 33px;
}
.left-part-services__button {
  max-height: 52px;
}
.left-part-services__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 160%;

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 2px;

  color: #ffffff;
}

.services__right-part {
  flex: 0 0 50%;
  padding-left: 52px;
  display: flex;
  width: 100%;
  height: 100%;
}
.right-part-services {
  display: flex;
}
.right-part-services__body {
  display: flex;
}
.right-part-services__column-1 {
  display: flex;
  flex-direction: column;
  margin-right: 32px;
  padding-top: 48px;
  flex: 1 0 48%;
}
.right-part-services__column-2 {
  flex: 1 0 48%;
}

.card {
  display: flex;
  flex-direction: column;
  background: rgba(129, 129, 139, 0.1);
  border-radius: 30px;
}
.card:not(:last-child) {
  margin-bottom: 32px;
}
.card__body {
  padding: 55px 25px 61px 25px;
  display: flex;
  flex-direction: column;
}
.card__icon {
  width: 75.59px;
  height: 75.59px;
  border-radius: 15px;
  border: solid 1px #1b76ff;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-bottom: 16px;

  z-index: 1;
}
.card__image {
  position: relative;
  width: 51.48px;
  height: 51.48px;
  display: flex;
  border-radius: 26px;
  overflow: hidden;
}
.card__image img {
  width: 100%;
  height: 100%;
  position: relative;
  object-fit: cover;
  top: 0;
  left: 0;
  z-index: 3;
}
.card__tile {
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 19.2px;
  line-height: 140%;

  display: flex;
  align-items: center;

  color: #ffffff;
}
.card__text {
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  max-width: 219.84px;
  max-height: 95px;
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;

  color: #81818b;
}

.icon-1 {
  background: #0088ff15;
}
.icon-2 {
  background: #f6ca4f15;
}
.icon-3 {
  background: #ff6e3514;
}
.icon-4 {
  background: #5cc97b19;
}

/************************************ SECTION #4 ***********************************/

.why_choose_us {
}
.why_choose_us__container {
  display: flex;
  margin-bottom: 192px;
}
.why_choose_us__left-part {
  display: flex;
  padding-right: 32px;
  flex: 1 0 50%;
}
.left-part-why_choose_us {
}
.left-part-why_choose_us__background_image {
  position: relative;
  bottom: -675px;

  left: 0;

  max-width: 122px;
  max-height: 122px;
  margin-left: -100px;
  padding-left: 105px;
}
.left-part-why_choose_us__img-1 {
  position: relative;
  display: flex;
  border-top-left-radius: 390px;
  border-bottom-left-radius: 218px;
  border-bottom-right-radius: 218px;
  overflow: hidden;
}
.left-part-why_choose_us__img-1 img {
  position: relative;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.left-part-why_choose_us__img-2 {
  display: flex;
  max-width: 181.44px;
  max-height: 181.44px;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  margin-top: 604px;
}
.left-part-why_choose_us__img-2 img {
  position: relative;
  bottom: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.why_choose_us__right-part {
}
.right-part-why_choose_us {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 32px;
}
.right-part-why_choose_us__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.right-part-why_choose_us__subtitle {
  border: 1px solid rgba(129, 129, 139, 0.2);
  border-radius: 12px;
  max-width: 151.25px;
  height: 37px;
  padding: 11px 16px 11px 16px;
  font-weight: 300;
  font-size: 10.8px;
  line-height: 160%;

  display: flex;
  align-items: center;
  letter-spacing: 2px;
  text-transform: uppercase;

  color: #9c9c9c;
  margin-bottom: 54px;
}
.right-part-why_choose_us__title {
  font-weight: 500;
  font-size: 51.2px;
  line-height: 120%;

  display: flex;
  align-items: center;

  color: #ffffff;
  margin-bottom: 40px;
}
.right-part-why_choose_us__text {
  font-weight: 300;
  font-size: 18px;
  line-height: 150%;

  display: flex;
  align-items: center;

  color: #9c9c9c;
  margin-bottom: 35px;
}
.right-part-why_choose_us__reasons {
}
.reasons {
  display: flex;

  flex-direction: column;
}
.reasons__body {
  display: flex;
}
.reasons__body :not(:last-child) {
  margin-bottom: 21px;
}
.reasons__icon {
  width: 32px;
  height: 32px;
  padding: 10px;
  background-color: rgba(129, 129, 139, 0.1);
  border-radius: 32px;
}
.reasons__text {
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;

  display: flex;
  align-items: center;

  color: #9c9c9c;
  padding-left: 10px;
}

/******************************************* SECTION#5 *********************************/
.statistic {
}
.statistic__container {
  display: flex;
  margin-bottom: 96px;
}
.statistic__column-1 {
  display: flex;
  flex-direction: column;
  margin-right: 32px;
  flex: 1 1 28%;
}
.statistic__card {
}
.card-statistic {
  background-color: rgba(129, 129, 139, 0.1);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: center;
  padding-left: 40px;
}
.card-statistic:not(:last-child) {
  margin-bottom: 32px;
}
.card-statistic__numbers {
  font-weight: 500;
  font-size: 51.2px;
  line-height: 61px;
  /* or 120% */

  display: flex;
  align-items: center;

  color: #ffffff;
  margin-bottom: 32px;
}
.card-statistic__text {
  font-weight: 300;
  font-size: 18px;
  line-height: 27px;
  /* or 150% */

  display: flex;
  align-items: center;

  color: #9c9c9c;
}
.statistic__column-2 {
  display: flex;
  flex-direction: column;
  margin-right: 32px;
  flex: 1 1 28%;
}
.statistic__column-3 {
  display: flex;
  flex-direction: column;
  flex: 1 1 44%;
}
.statistic__image {
  width: 100%;
  height: 100%;
}
.statistic__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
  position: relative;
}
/********************************************* SECTION#6 ************************************/

.testimonials {
}
.testimonials__top-part {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 75px;
}
.top-part-testimonials {
}
.top-part-testimonials__body {
  display: flex;
  flex-direction: column;
}
.top-part-testimonials__subtitle {
  font-weight: 300;
  font-size: 10.8px;
  line-height: 17px;
  /* or 160% */

  display: flex;
  align-items: center;
  letter-spacing: 2px;
  text-transform: uppercase;

  color: #9c9c9c;
  border: 1px solid rgba(129, 129, 139, 0.2);
  border-radius: 12px;
  padding: 11px 18px;
  max-width: 132.55px;
  height: 37px;
  margin-bottom: 25px;
}
.top-part-testimonials__title {
  font-weight: 500;
  font-size: 51.2px;
  line-height: 120%;

  display: flex;
  align-items: center;

  color: #ffffff;
  max-width: 623.01px;
  margin-bottom: 12px;
}
.top-part-testimonials__text {
  max-width: 736.09px;
  font-weight: 300;
  font-size: 18px;
  line-height: 150%;

  display: flex;
  align-items: center;

  color: #9c9c9c;
}
.top-part-testimonials__button {
}

.testimonials__bot-part {
  margin-bottom: 96px;
  display: flex;
}
.bot-part-testimonials {
}
.bot-part-testimonials__comment {
}
.comment {
  background-color: rgba(129, 129, 139, 0.1);
  border-radius: 30px;
}
.comment:not(:last-child) {
  margin-right: 48px;
}
.comment__body {
  padding: 64px 40px;
}
.comment__info {
  margin-bottom: 33px;
  display: flex;
}
.comment__icon-1 {
  width: 68.03px;
  height: 68.03px;

  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-top-right-radius: 50%;
}
.comment__icon-2 {
  width: 68.03px;
  height: 68.03px;

  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-top-left-radius: 50%;
}
.comment__icon-3 {
  width: 68.03px;
  height: 68.03px;

  border-bottom-left-radius: 50%;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}
.comment__names {
  margin-left: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 33px;
}
.comment__name {
  margin-bottom: 7px;
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;

  display: flex;
  align-items: center;

  color: #ffffff;
}
.comment__company-name {
  font-weight: 300;
  font-size: 14px;
  line-height: 160%;

  display: flex;
  align-items: center;

  color: #9c9c9c;
}
.comment__title {
  margin-bottom: 34px;
  font-weight: 400;
  font-size: 32px;
  line-height: 140%;

  display: flex;
  align-items: center;

  color: #ffffff;
}
.comment__text {
  margin-bottom: 35px;
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;

  display: flex;
  align-items: center;

  color: #9c9c9c;
}
.comment__rating {
}

/**************************************** SECTION#7 *********************************/

.blog {
}
.blog__container {
  display: flex;
  flex-direction: column;
  margin-bottom: 192px;
}
.blog__top-part {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 75px;
}
.top-part-blog {
}
.top-part-blog__body {
  max-width: 768px;
}
.top-part-blog__subtitle {
  font-weight: 300;
  font-size: 10.8px;
  line-height: 17px;
  /* or 160% */

  display: flex;
  align-items: center;
  letter-spacing: 2px;
  text-transform: uppercase;

  color: #9c9c9c;

  border: 1px solid rgba(129, 129, 139, 0.2);
  border-radius: 12px;
  max-width: 73.95px;
  padding: 10px 18px;
  margin-bottom: 36px;
}
.top-part-blog__title {
  max-width: 390.2px;
  font-weight: 500;
  font-size: 51.2px;
  line-height: 61px;
  /* or 120% */

  display: flex;
  align-items: center;

  color: #ffffff;
  margin-bottom: 12px;
}
.top-part-blog__text {
  font-weight: 300;
  font-size: 18px;
  line-height: 27px;
  /* or 150% */

  display: flex;
  align-items: center;

  color: #9c9c9c;
  max-width: 736.09px;
}
.top-part-blog__button {
}

.blog__bot-part {
  display: flex;
}
.bot-part-blog {
}
.bot-part-blog__card {
  background-color: rgba(129, 129, 139, 0.1);
  border-radius: 24px;
  overflow: hidden;
  max-width: 394.66px;
}
.bot-part-blog__card:not(:last-child) {
  margin-right: 48px;
}
.bot-part-blog__button-1 {
  position: absolute;
  background-color: rgba(129, 129, 139, 0.5);
  border-radius: 0px 10px 0px 0px;
  margin-top: -38px;
  max-width: 107.89px;
  height: 38px;
}
.bot-part-blog__button-2 {
  position: absolute;
  background-color: rgba(129, 129, 139, 0.5);
  border-radius: 0px 10px 0px 0px;
  margin-top: -38px;
  max-width: 46.09px;
  height: 38px;
}
.bot-part-blog__button-3 {
  max-width: 78.3px;
  position: absolute;
  background-color: rgba(129, 129, 139, 0.5);
  border-radius: 0px 10px 0px 0px;
  margin-top: -38px;

  height: 38px;
}
.bot-part-blog__image {
  max-width: 394.66px;
  max-height: 194.17px;
  margin-bottom: 10px;
}
.bot-part-blog__image img {
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
  object-fit: cover;
}
.bot-part-blog__link {
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
  /* or 160% */

  display: flex;
  align-items: center;

  color: #ffffff;
  padding: 9px 9.8px 9px 10px;
}
.bot-part-blog__body {
  padding: 26px 29px 40px 26px;
  display: flex;
  flex-direction: column;
}
.bot-part-blog__date {
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */

  display: flex;
  align-items: center;

  color: rgba(129, 129, 139, 0.9);
  margin-bottom: 20px;
}
.bot-part-blog__title {
  font-weight: 400;
  font-size: 19.2px;
  line-height: 27px;
  /* or 140% */

  display: flex;
  align-items: center;

  color: #ffffff;
  margin-bottom: 30px;
  height: 100%;
}
.bot-part-blog__text {
  height: 100%;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */

  display: flex;
  align-items: center;

  color: #9c9c9c;
  margin-bottom: 21px;
}
.bot-part-blog__read {
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
  /* or 160% */

  display: flex;
  align-items: center;

  color: #3d96f4;
}

/*********************************************SECTION #8**************************/

.scaling {
}
.scaling__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(129, 129, 139, 0.1);
  border-radius: 30px;
  padding-top: 51px;
  padding-bottom: 53px;
  margin-bottom: 96px;
}
.scaling__body {
  display: flex;
  flex-direction: column;
}
.scaling__title {
  font-weight: 400;
  font-size: 32px;
  line-height: 45px;
  /* or 140% */

  display: flex;
  align-items: center;
  text-align: center;

  color: #ffffff;
  max-width: 347.73px;
}
.scaling__subtitle {
  max-width: 301.2px;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */

  display: flex;
  align-items: center;
  text-align: center;

  color: #9c9c9c;
}
.scaling__buttons {
}
.scaling__button {
}
.scaling__button:not(:last-child) {
  margin-right: 32px;
}
.blue-button {
}
.brown-button {
}

/******************************************* FOOTER ************************************/

.footer {
}
.footer__container {
  display: flex;
  flex-direction: column;
}
.footer__body {
  display: flex;
  justify-content: space-between;
  margin-bottom: 160px;
  flex-wrap: wrap;
}
.footer__column {
  display: flex;
  flex-direction: column;
}

.column-footer {
}
.column-footer__logo {
  margin-bottom: 34.22px;
  max-width: 136.84px;
}
.column-footer__text {
  max-width: 360px;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */

  display: flex;
  align-items: center;

  color: #9c9c9c;
  margin-bottom: 33px;
}
.column-footer__socials {
}
.socials {
  display: flex;
  max-width: 244px;
}
.socials__linked {
  width: 36px;
  height: 36px;
  margin-right: 16px;
}
.socials__twitt {
  width: 36px;
  height: 36px;
  margin-right: 16px;
}
.socials__faceb {
  width: 36px;
  height: 36px;
  margin-right: 16px;
}
.socials__yout {
  width: 36px;
  height: 36px;
  margin-right: 16px;
}
.socials__igram {
  width: 36px;
  height: 36px;
  margin-right: 16px;
}
.column-footer__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  /* or 120% */

  display: flex;
  align-items: center;
  letter-spacing: 1px;

  color: #ffffff;
  margin-bottom: 30px;
}
.column-footer__link {
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  /* or 160% */

  display: flex;
  align-items: center;

  color: #9c9c9c;
  margin-bottom: 24px;
}
.column-footer__form {
}
.email_enter {
  cursor: pointer;
  padding: 14.5px 33px;
  background-color: #0d0d11;
  border: 1px solid rgba(129, 129, 139, 0.3);
  border-radius: 50px;
  margin-right: 16px;
  color: #999999;
}
.columng-footer__button {
}
.blue-button {
}

.footer__copy {
  border-top: 1px solid rgba(129, 129, 139, 0.2);
  text-align: center;
  padding: 45.41px;
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
  /* or 160% */

  color: #9c9c9c;
}
